Repository SkaldetSkaeg/space-station-14-220, pull requests merged in 2024-10, with the labels that each got.

#42 Added cult animals
  Resources/Prototypes/SS220/CultYogg/corruptedAnimals.yml
  Resources/Prototypes/SS220/Damage/modifier_sets.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/corruptedAnimals.yml
  Resources/Textures/SS220/Mobs/CultYogg/hamster_corrupted.rsi/dead.png
  Resources/Textures/SS220/Mobs/CultYogg/hamster_corrupted.rsi/hamster-moving.png
  Resources/Textures/SS220/Mobs/CultYogg/hamster_corrupted.rsi/hamster.png
  Resources/Textures/SS220/Mobs/CultYogg/hamster_corrupted.rsi/icon.png
  Resources/Textures/SS220/Mobs/CultYogg/hamster_corrupted.rsi/meta.json
Labels: Changes: Sprites, No C#

#43 Added cult animals locale
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_animals.ftl
Labels: Changes: Localization, No C#

#44 mi-go
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/migo.yml
Labels: No C#

#47 visual cult stage 2 fix
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Resources/Prototypes/SS220/CultYogg/buildings.yml
  Resources/Prototypes/SS220/CultYogg/cultstages.yml
  Resources/Prototypes/Species/arachnid.yml
  Resources/Prototypes/Species/diona.yml
  Resources/Prototypes/Species/gingerbread.yml
  Resources/Prototypes/Species/moth.yml
  Resources/Prototypes/Species/reptilian.yml
  Resources/Prototypes/Species/slime.yml
  Resources/Prototypes/Species/vox.yml
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/meta.json
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/moth.png
Labels: Changes: Sprites, Changes: C#, Changes: Prototypes

#48 refactore nyarlathotep
  Content.Server/SS220/CultYogg/Nyarlathotep/Events/NyarlathotepHorizonConsumedEntityEvent.cs
  Content.Server/SS220/CultYogg/Nyarlathotep/NyarlathotepHorizonSystem.cs
  Content.Server/SS220/CultYogg/Nyarlathotep/NyarlathotepTargetSearcherSystem.cs
  Content.Server/Singularity/EntitySystems/EventHorizonSystem.cs
  Content.Shared/SS220/CultYogg/Nyarlathotep/NyarlathotepHorizonComponent.cs
Labels: Changes: C#

#49 some cult items descriptions
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_animals.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_items.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
Labels: Changes: Localization

#46 Exorcism Fix
  Content.Shared/SS220/Bible/ExorcismUtils.cs
Labels: Changes: C#

#50 Cult buildings fixes and walls
  Content.Client/SS220/CultYogg/MiGo/MiGoErectPlacementHijack.cs
  Content.Client/SS220/CultYogg/MiGo/UI/MiGoErectMenuItem.xaml.cs
  Content.Shared/SS220/CultYogg/Buildings/CultYoggBuildingPrototype.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoErectSystem.cs
  Resources/Prototypes/SS220/CultYogg/buildings.yml
  Resources/Prototypes/SS220/CultYogg/fungus.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/buildings.yml
Labels: Changes: UI, Changes: C#, Changes: Prototypes
