Repository SkaldetSkaeg/space-station-14-220, pull requests merged in 2024-09, with the labels that each got.

#19 error prototype fix
  Resources/Prototypes/SS220/CultYogg/fungus.yml
  Resources/Prototypes/SS220/CultYogg/nyarlathotep.yml
Labels: No C#

#20 Code improvements after dexler code review + nyarlathotep fix
  Content.Client/SS220/CultYogg/FangusMachine/FungusMachineBoundUserInterface.cs
  Content.Client/SS220/CultYogg/FangusMachine/FungusMachineMenu.xaml.cs
  Content.Client/SS220/CultYogg/FangusMachine/FungusMachineSystem.cs
  Content.Server/SS220/CultYogg/BurglarBug/BurglarBugComponent.cs
  Content.Server/SS220/CultYogg/BurglarBug/BurglarBugServerSystem.cs
  Content.Server/SS220/CultYogg/Fungus/Systems/FungusMachineSystem.cs
  Content.Server/SS220/CultYogg/Fungus/Systems/FungusSystem.cs
  Content.Server/SS220/CultYogg/Nyarlathotep/Components/NyarlathotepComponent.cs
  Content.Server/SS220/CultYogg/Nyarlathotep/Components/NyarlathotepSearchTargetsComponent.cs
  Content.Server/SS220/CultYogg/Nyarlathotep/Components/NyarlatotepTargetComponent.cs
  Content.Server/SS220/CultYogg/Nyarlathotep/Events/NyarlathotepConsumedByEventHorizonEvent.cs
  Content.Server/SS220/CultYogg/Nyarlathotep/NyarlathotepHorizonSystem.cs
  Content.Server/SS220/CultYogg/Nyarlathotep/NyarlathotepTargetSearcherSystem.cs
  Content.Server/SS220/CultYogg/Nyarlathotep/NyarlatotepSystem.cs
  Content.Server/SS220/GameTicking/Rules/CultYoggRuleSystem.cs
  Content.Shared/SS220/CultYogg/EntitySystems/SharedCultYoggSystem.cs
  Content.Shared/SS220/CultYogg/FungusMachine/Systems/FungusMachineComponent.cs
  Content.Shared/SS220/CultYogg/FungusMachine/Systems/FungusMachineInventoryPrototype.cs
  Content.Shared/SS220/CultYogg/FungusMachine/Systems/FungusMachineSystem.cs
  Content.Shared/SS220/CultYogg/Nyarlathotep/Components/NyarlathotepHorizonComponent.cs
  Content.Shared/SS220/CultYogg/Nyarlathotep/SharedNyarlathotepHorizonSystem.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
  Resources/Prototypes/SS220/CultYogg/nyarlathotep.yml
  Resources/Textures/SS220/Mobs/CultYogg/nyarlathotep.rsi/nyarlatoteph.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization

#21 Добавление усыпляющего жала и пруда культа (все без спрайтов)
  Content.Client/SS220/CultYogg/SedativeSting/Systems/ClientSedativeStingSystem.cs
  Content.Client/SS220/CultYogg/SedativeSting/Systems/SedativeStingStatusControl.cs
  Content.Server/SS220/CultYogg/CultPond/Components/CultPondComponent.cs
  Content.Server/SS220/CultYogg/CultPond/Systems/CultPondSystem.cs
  Content.Server/SS220/CultYogg/SedativeSting/Systems/ServerSedativeStingSystem.cs
  Content.Shared/SS220/CultYogg/SedativeSting/Components/SedativeStingComponent.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_labels.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
  Resources/Prototypes/SS220/CultYogg/pond.yml
  Resources/Prototypes/SS220/CultYogg/sedativesting.yml
Labels: Changes: Localization

#22 spikegun fix
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
  Resources/Prototypes/SS220/CultYogg/burglarbug.yml
  Resources/Prototypes/SS220/CultYogg/sedativesting.yml
  Resources/Prototypes/SS220/CultYogg/spikegun.yml
Labels: Changes: Localization, No C#

#23 Cult handcuffs add
  Resources/Prototypes/SS220/CultYogg/corruption.yml
  Resources/Prototypes/SS220/CultYogg/handcuffs.yml
  Resources/Textures/SS220/Objects/CultYogg/cult-handcuffs.rsi/body-overlay-2.png
  Resources/Textures/SS220/Objects/CultYogg/cult-handcuffs.rsi/body-overlay-4.png
  Resources/Textures/SS220/Objects/CultYogg/cult-handcuffs.rsi/body-overlay-vox.png
  Resources/Textures/SS220/Objects/CultYogg/cult-handcuffs.rsi/body-overlay.png
  Resources/Textures/SS220/Objects/CultYogg/cult-handcuffs.rsi/handcuff.png
  Resources/Textures/SS220/Objects/CultYogg/cult-handcuffs.rsi/inhand-left-vox.png
  Resources/Textures/SS220/Objects/CultYogg/cult-handcuffs.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/CultYogg/cult-handcuffs.rsi/inhand-right-vox.png
  Resources/Textures/SS220/Objects/CultYogg/cult-handcuffs.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/CultYogg/cult-handcuffs.rsi/meta.json
Labels: Changes: Sprites, No C#

#25 roleItem++
  Content.Shared/SS220/RoleItem/RoleItemComponent.cs
  Content.Shared/SS220/RoleItem/SharedRoleItemSystem.cs
  Resources/Locale/ru-RU/ss220/role-item/roleitem.ftl
Labels: Changes: Localization

#26 Added cult lamp
  Resources/Prototypes/SS220/CultYogg/corruption.yml
  Resources/Prototypes/SS220/CultYogg/lantern.yml
Labels: No C#

#30 Lantern sprite and charge
  Resources/Prototypes/SS220/CultYogg/lantern.yml
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/burnt.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/flashing.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/lantern-on.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/lantern.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/meta.json
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/off-equipped-BELT.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/off-inhand-left.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/off-inhand-right.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/on-equipped-BELT.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/on-inhand-left.png
  Resources/Textures/SS220/Objects/CultYogg/lantern_cult.rsi/on-inhand-right.png
Labels: Changes: Sprites, No C#

#31 Cult hardsuit update
  Resources/Prototypes/SS220/CultYogg/corruption.yml
  Resources/Prototypes/SS220/Entities/Clothing/CultYogg/CultYoggSuits.yml
  Resources/Textures/SS220/Clothing/Head/Hardsuits/cult_yogg_rig.rsi/icon-flash.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/cult_yogg_rig.rsi/icon.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/cult_yogg_rig.rsi/off-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/Head/Hardsuits/cult_yogg_rig.rsi/on-equipped-HELMET.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/cult_yogg_rig.rsi/equipped-OUTERCLOTHING.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/cult_yogg_rig.rsi/icon.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/cult_yogg_rig.rsi/inhand-left.png
  Resources/Textures/SS220/Clothing/OuterClothing/Hardsuits/cult_yogg_rig.rsi/inhand-right.png
Labels: Changes: Sprites, No C#

#32 add strange fruit
  Content.Server/SS220/CultYogg/StrangeFruit/Components/TileSpawnInRangeOnTriggerComponent.cs
  Content.Server/SS220/CultYogg/StrangeFruit/Systems/TileSpawnInRangeOnTriggerSystem.cs
  Resources/Prototypes/SS220/CultYogg/fungus.yml
  Resources/Prototypes/SS220/CultYogg/strangeFruit.yml
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/dead.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/harvest.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/icon.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/kudzu_11.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/kudzu_12.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/kudzu_13.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/kudzu_21.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/kudzu_22.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/kudzu_23.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/kudzu_31.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/kudzu_32.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/kudzu_33.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/meta.json
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/seed.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/stage-1.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/stage-2.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/stage-3.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/stage-4.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/stage-5.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/stage-6.png
  Resources/Textures/SS220/Objects/CultYogg/strangefruit.rsi/stage-7.png
Labels: Changes: Sprites

#34 Added cult backpack
  Resources/Prototypes/SS220/CultYogg/backpack.yml
  Resources/Prototypes/SS220/CultYogg/corruption.yml
  Resources/Prototypes/SS220/CultYogg/duffel.yml
  Resources/Prototypes/SS220/CultYogg/satchel.yml
Labels: No C#

#36 add visual to cult stages
  Content.Server/SS220/CultYogg/CultYoggEvents.cs
  Content.Server/SS220/CultYogg/CultYoggSystem.cs
  Content.Shared/SS220/CultYogg/Components/CultYoggComponent.cs
  Content.Shared/SS220/CultYogg/EntitySystems/SharedCultYoggSystem.cs
  Resources/Prototypes/SS220/CultYogg/cultstages.yml
  Resources/Textures/SS220/Interface/Misc/cult_yogg_icons.rsi/sacrificial.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/halo.png
  Resources/Textures/SS220/Objects/CultYogg/cultstages.rsi/meta.json
Labels: Changes: Sprites

#39 cocoon's
  Resources/Prototypes/SS220/CultYogg/corruption.yml
  Resources/Prototypes/SS220/CultYogg/cultcocoon.yml
  Resources/Prototypes/SS220/CultYogg/sedativesting.yml
  Resources/Textures/SS220/Objects/CultYogg/burglarbug.rsi/bug_ondoor.png
  Resources/Textures/SS220/Objects/CultYogg/burglarbug.rsi/meta.json
  Resources/Textures/SS220/Objects/CultYogg/cocoon.rsi/icon.png
  Resources/Textures/SS220/Objects/CultYogg/cocoon.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/CultYogg/cocoon.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/CultYogg/cocoon.rsi/meta.json
  Resources/Textures/SS220/Objects/CultYogg/cryptobug.rsi/crypt.png
  Resources/Textures/SS220/Objects/CultYogg/cryptobug.rsi/crypt_activated.png
  Resources/Textures/SS220/Objects/CultYogg/cryptobug.rsi/meta.json
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_sedativesting.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_sedativesting.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_sedativesting.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_sedativesting.rsi/jija1.png
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_sedativesting.rsi/jija2.png
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_sedativesting.rsi/meta.json
Labels: Changes: Sprites, No C#
