Repository SkaldetSkaeg/space-station-14-220, pull requests merged in 2024-12, with the labels that each got.

#62 YAML-fixes
  Resources/Prototypes/SS220/CultYogg/strangeFruit.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/migo.yml
Labels: Changes: Prototypes

#60 titles-fix
  Content.Server/SS220/GameTicking/Rules/CultYoggRuleSystem.cs
Labels: Changes: C#

#63 Burglar bug sprite changes
  Resources/Prototypes/SS220/CultYogg/burglarbug.yml
Labels: Changes: Prototypes

#66 Cult better rave fade
  Content.Client/SS220/CultYogg/Rave/RaveSystem.cs
  Content.Client/SS220/TextureFade/TextureFadeOverlayComponent.cs
  Content.Client/SS220/TextureFade/TextureFadeOverlaySystem.cs
Labels: Changes: C#

#65 Enslave tweaks
  Content.Server/SS220/CultYogg/MiGo/MiGoSystem.cs
  Content.Shared/SS220/CultYogg/MiGo/MiGoActions.cs
  Content.Shared/SS220/CultYogg/MiGo/MiGoComponent.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoSystem.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
  Resources/Prototypes/SS220/CultYogg/actions.yml
Labels: Changes: Localization, Changes: C#, Changes: Prototypes

#68 Remove AscensionReagent when Enslaved
  Content.Server/Body/Systems/StomachSystem.cs
  Content.Server/SS220/CultYogg/MiGo/MiGoSystem.cs
Labels: Changes: C#

#67 healing fixes
  Content.Server/SS220/CultYogg/MiGo/CultYoggHealSystem.cs
  Content.Server/SS220/CultYogg/Pod/CultYoggPodSystem.cs
  Content.Shared/SS220/CultYogg/MiGo/CultYoggHealComponent.cs
  Content.Shared/SS220/CultYogg/MiGo/MiGoActions.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedCultYoggHealSystem.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoSystem.cs
  Content.Shared/SS220/CultYogg/Pod/CultYoggPodComponent.cs
  Resources/Prototypes/SS220/CultYogg/actions.yml
Labels: Changes: C#, Changes: Prototypes

#69 ChemMiGomicelium fixes
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Content.Server/SS220/EntityEffects/Effects/ChemMiGomicelium.cs
  Content.Shared/SS220/CultYogg/Cultists/CultYoggComponent.cs
  Resources/Prototypes/SS220/Reagents/cultYogg.yml
Labels: Changes: C#, Changes: Prototypes

#70 Backpack fixes
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Content.Shared/SS220/RestrictedItem/RestrictedStorageComponent.cs
  Content.Shared/SS220/RestrictedItem/SharedRestrictedStorageSystem.cs
  Content.Shared/Storage/EntitySystems/SharedStorageSystem.cs
  Content.Shared/Storage/StorageComponent.cs
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/satchel.yml
Labels: Changes: C#, Changes: Prototypes

#72 Popups fixes
  Content.Server/SS220/CultYogg/Cultists/CultYoggSystem.cs
  Content.Shared/SS220/CultYogg/Altar/SharedCultYoggAltarSystem.cs
  Content.Shared/SS220/CultYogg/Cultists/SharedCultYoggSystem.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoErectSystem.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoSystem.cs
  Content.Shared/SS220/CultYogg/Pod/SharedCultYoggPodSystem.cs
  Content.Shared/SS220/StuckOnEquip/SharedStuckOnEquipSystem.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
Labels: Changes: Localization, Changes: C#

#73 MiGomycelium rave fix
  Content.Server/SS220/EntityEffects/EffectConditions/HasComponentsCondition.cs
  Resources/Locale/ru-RU/ss220/guidebook/chemistry/conditions.ftl
  Resources/Prototypes/SS220/Reagents/cultYogg.yml
Labels: Changes: Localization, Changes: C#, Changes: Prototypes

#74 Pond fixes
  Content.Server/SS220/CultYogg/Pond/CultPondComponent.cs
  Content.Server/SS220/CultYogg/Pond/CultPondSystem.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_items.ftl
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/pond.yml
Labels: Changes: Localization, Changes: C#, Changes: Prototypes

#75 Cult pod fixes
  Content.Server/SS220/CultYogg/Pod/CultYoggPodSystem.cs
  Content.Shared/SS220/CultYogg/Pod/CultYoggPodComponent.cs
  Content.Shared/SS220/CultYogg/Pod/SharedCultYoggPodSystem.cs
Labels: Changes: C#

#71 CultYoggBed
  Content.Shared/Buckle/Components/StrapComponent.cs
  Content.Shared/Buckle/SharedBuckleSystem.Buckle.cs
  Resources/Prototypes/SS220/Entities/Objects/CultYogg/buildings.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/buildings.yml
Labels: Changes: C#, Changes: Prototypes
