Repository SkaldetSkaeg/space-station-14-220, pull requests merged in 2024-08, with the labels that each got.

#9 MiGo erect system
  Content.Client/SS220/CultYogg/MiGoErectPlacementHijack.cs
  Content.Client/SS220/CultYogg/UI/MiGoErectBoundUserInterface.cs
  Content.Client/SS220/CultYogg/UI/MiGoErectMaterialView.xaml
  Content.Client/SS220/CultYogg/UI/MiGoErectMaterialView.xaml.cs
  Content.Client/SS220/CultYogg/UI/MiGoErectMenu.xaml
  Content.Client/SS220/CultYogg/UI/MiGoErectMenu.xaml.cs
  Content.Client/SS220/CultYogg/UI/MiGoErectMenuItem.xaml
  Content.Client/SS220/CultYogg/UI/MiGoErectMenuItem.xaml.cs
  Content.Shared/SS220/CultYogg/Components/MiGoBuildingFrameComponent.cs
  Content.Shared/SS220/CultYogg/Components/MiGoComponent.cs
  Content.Shared/SS220/CultYogg/CultYoggBuildingPrototype.cs
  Content.Shared/SS220/CultYogg/EntitySystems/SharedMiGoErectSystem.cs
  Content.Shared/SS220/CultYogg/EntitySystems/SharedMiGoSystem.cs
  Content.Shared/SS220/CultYogg/MiGoErectBuiState.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_building.ftl
  Resources/Locale/ru-RU/ss220/stack/stacks.ftl
  Resources/Prototypes/SS220/CultYogg/buildings.yml
  Resources/Prototypes/SS220/Entities/Objects/Materials/Sheets/tokl.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/buildings.yml
  Resources/Prototypes/SS220/Stacks/Materials/Sheets/tokl.yml
  Resources/Textures/SS220/Interface/Materials/material_icons_16.rsi/glass.png
  Resources/Textures/SS220/Interface/Materials/material_icons_16.rsi/meta.json
  Resources/Textures/SS220/Interface/Materials/material_icons_16.rsi/metal_rod.png
  Resources/Textures/SS220/Interface/Materials/material_icons_16.rsi/steel.png
  Resources/Textures/SS220/Interface/Materials/material_icons_16.rsi/tokl.png
Labels: Changes: Sprites, Changes: UI, Changes: Localization

#12 Tentacles texture fade overlay effect
  Resources/Prototypes/SS220/Entities/Debugging/texture_fade_overlays.yml
  Resources/Textures/SS220/Effects/TextureFade/dithered-radial.rsi/meta.json
  Resources/Textures/SS220/Effects/TextureFade/dithered-radial.rsi/overlay.png
  Resources/Textures/SS220/Effects/TextureFade/tentacles.rsi/meta.json
  Resources/Textures/SS220/Effects/TextureFade/tentacles.rsi/overlay.png
Labels: Changes: Sprites, No C#

#14 Cult Pod
  Content.Client/SS220/CultYogg/CultYoggPodSystem.cs
  Content.Server/SS220/CultYogg/CultYoggPodSystem.cs
  Content.Shared/SS220/CultYogg/Components/CultYoggPodComponent.cs
  Content.Shared/SS220/CultYogg/EntitySystems/SharedCultYoggPodSystem.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_building.ftl
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggpod.yml
  Resources/Textures/SS220/Structures/yoggpod.rsi/meta.json
  Resources/Textures/SS220/Structures/yoggpod.rsi/yoggpod-in.png
  Resources/Textures/SS220/Structures/yoggpod.rsi/yoggpod.png
Labels: Changes: Sprites, Changes: Localization

#15 Cult fungus
  Content.Client/SS220/CultYogg/FangusMachine/FungusMachineBoundUserInterface.cs
  Content.Client/SS220/CultYogg/FangusMachine/FungusMachineMenu.xaml
  Content.Client/SS220/CultYogg/FangusMachine/FungusMachineMenu.xaml.cs
  Content.Client/SS220/CultYogg/FangusMachine/FungusMachineSystem.cs
  Content.Server/Botany/SeedPrototype.cs
  Content.Server/SS220/CultYogg/Fungus/Components/FungusComponent.cs
  Content.Server/SS220/CultYogg/Fungus/Systems/FungusMachineSystem.cs
  Content.Server/SS220/CultYogg/Fungus/Systems/FungusSystem.cs
  Content.Shared/SS220/CultYogg/FungusMachineComponent.cs
  Content.Shared/SS220/CultYogg/FungusMachineInventoryPrototype.cs
  Content.Shared/SS220/CultYogg/FungusMachineSystem.cs
  Resources/Prototypes/SS220/CultYogg/fungus.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/CultYogg/MiGomycete.yml
  Resources/Textures/SS220/Structures/fungusHydroponic.rsi/base.png
  Resources/Textures/SS220/Structures/fungusHydroponic.rsi/meta.json
Labels: Changes: Sprites, Changes: UI

#17 bich
  Resources/Locale/ru-RU/ss220/weapons/beach.ftl
  Resources/Prototypes/SS220/CultYogg/beach.yml
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_beach.rsi/icon.png
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_beach.rsi/inhand-left-vox.png
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_beach.rsi/inhand-left.png
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_beach.rsi/inhand-right-vox.png
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_beach.rsi/inhand-right.png
  Resources/Textures/SS220/Objects/Weapons/Melee/cult_yogg_beach.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization, No C#

#18 Добавление жука-взломщика культа
  Content.Server/SS220/CultYogg/BurglarBug/BurglarBugComponent.cs
  Content.Server/SS220/CultYogg/BurglarBug/BurglarBugServerSystem.cs
  Resources/Locale/ru-RU/weapons/grenades/timer-trigger.ftl
  Resources/Prototypes/SS220/CultYogg/burglarbug.yml
  Resources/Textures/SS220/Objects/CultYogg/burglarbug.rsi/bug.png
  Resources/Textures/SS220/Objects/CultYogg/burglarbug.rsi/icon.png
  Resources/Textures/SS220/Objects/CultYogg/burglarbug.rsi/meta.json
Labels: Changes: Sprites, Changes: Localization
