Repository SkaldetSkaeg/space-station-14-220, pull requests merged in 2024-11, with the labels that each got.

#51 add localization 1
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_cultists_actions.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_items.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_nyarlathotep.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_popups.ftl
  Resources/Prototypes/SS220/CultYogg/actions.yml
  Resources/Prototypes/SS220/CultYogg/burglarbug.yml
  Resources/Prototypes/SS220/CultYogg/nyarlathotep.yml
Labels: Changes: Localization, Changes: Prototypes

#52 Irremovable(StuckOnEquip) tweaks
  Content.Client/Inventory/ClientInventorySystem.cs
  Content.Client/UserInterface/Controls/SlotButton.cs
  Content.Client/UserInterface/Controls/SlotControl.cs
  Content.Client/UserInterface/Systems/Hands/HandsUIController.cs
  Content.Client/UserInterface/Systems/Inventory/InventoryUIController.cs
  Content.Server/SS220/GameTicking/Rules/CultYoggRuleSystem.cs
  Content.Shared/SS220/Irremovable/SharedIrremovableSystem.cs
  Content.Shared/SS220/StuckOnEquip/SharedStuckOnEquipSystem.cs
  Content.Shared/SS220/StuckOnEquip/StuckOnEquipComponent.cs
  Content.Shared/Wieldable/WieldableSystem.cs
  Resources/Prototypes/SS220/CultYogg/backpack.yml
  Resources/Prototypes/SS220/CultYogg/beach.yml
  Resources/Prototypes/SS220/CultYogg/claw.yml
  Resources/Prototypes/SS220/CultYogg/duffel.yml
  Resources/Prototypes/SS220/CultYogg/horn.yml
  Resources/Prototypes/SS220/CultYogg/satchel.yml
  Resources/Prototypes/SS220/CultYogg/spikegun.yml
  Resources/Prototypes/SS220/CultYogg/spitballer.yml
  Resources/Prototypes/SS220/Entities/Clothing/CultYogg/CultYoggSuits.yml
  Resources/Textures/Interface/Default/stuckonequip.png
Labels: Changes: C#, Changes: Prototypes

#53 add localization 2
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_buildings.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_cables.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_consumable.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_materials.ftl
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_migo.ftl
  Resources/Prototypes/SS220/CultYogg/actions.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/migo.yml
  Resources/Prototypes/SS220/Entities/Objects/Consumable/CultYogg/MiGomycete.yml
  Resources/Prototypes/SS220/Entities/Objects/Materials/Sheets/tokl.yml
  Resources/Prototypes/SS220/Entities/Objects/Tools/cable_coils.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/buildings.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cables.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggaltar.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggpod.yml
Labels: Changes: Localization, Changes: Prototypes

#55 add-deconstruction
  Content.Client/SS220/CultYogg/MiGo/MiGoErectPlacementHijack.cs
  Content.Shared/SS220/CultYogg/Buildings/CultYoggBuildingComponent.cs
  Content.Shared/SS220/CultYogg/Buildings/CultYoggBuildingFrameComponent.cs
  Content.Shared/SS220/CultYogg/MiGo/MiGoComponent.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoErectSystem.cs
  Resources/Locale/ru-RU/ss220/cultYogg/cult_yogg_building_ability.ftl
  Resources/Prototypes/SS220/CultYogg/fungus.yml
  Resources/Prototypes/SS220/CultYogg/pond.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/migo.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/buildings.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggaltar.yml
  Resources/Prototypes/SS220/Entities/Structures/CultYogg/cultyoggpod.yml
Labels: Changes: Localization, Changes: C#, Changes: Prototypes

#56 Actions Sprite
  Content.Server/Administration/Systems/AdminVerbSystem.Antags.cs
  Resources/Textures/SS220/Interface/Actions/cult_yogg.rsi/IconMycosis.png
  Resources/Textures/SS220/Interface/Actions/cult_yogg.rsi/corrupt.png
  Resources/Textures/SS220/Interface/Actions/cult_yogg.rsi/deconstruction.png
  Resources/Textures/SS220/Interface/Actions/cult_yogg.rsi/enslavement.png
  Resources/Textures/SS220/Interface/Actions/cult_yogg.rsi/heal.png
  Resources/Textures/SS220/Interface/Actions/cult_yogg.rsi/meta.json
  Resources/Textures/SS220/Interface/Actions/cult_yogg.rsi/migoastral.png
  Resources/Textures/SS220/Interface/Actions/cult_yogg.rsi/migopuke.png
  Resources/Textures/SS220/Interface/Actions/cult_yogg.rsi/sowing.png
  Resources/Textures/SS220/Interface/Actions/cult_yogg.rsi/turn.png
  Resources/Textures/SS220/Interface/Misc/cult_yogg_icons.rsi/cult_make_yogg.png
  Resources/Textures/SS220/Interface/Misc/cult_yogg_icons.rsi/meta.json
Labels: Changes: Sprites, Changes: C#

#57 Burglar bug changes
  Content.Client/Sticky/Visualizers/StickyVisualizerSystem.cs
  Content.Shared/Sticky/Components/StickyComponent.cs
  Content.Shared/Sticky/Components/StickyVisualizerComponent.cs
  Content.Shared/Sticky/Systems/StickySystem.cs
  Resources/Prototypes/SS220/CultYogg/burglarbug.yml
  Resources/Textures/SS220/Objects/CultYogg/burglarbug.rsi/fox.png
  Resources/Textures/SS220/Objects/CultYogg/burglarbug.rsi/meta.json
Labels: Changes: Sprites, Changes: C#, Changes: Prototypes

#58 Spitballer fixes
  Resources/Prototypes/SS220/CultYogg/spitballer.yml
Labels: Changes: Prototypes

#59 Fungus machine ActivatableUI fix
  Content.Server/SS220/CultYogg/FungusMachine/FungusMachineSystem.cs
  Content.Shared/SS220/CultYogg/FungusMachine/FungusMachineComponent.cs
  Content.Shared/SS220/CultYogg/FungusMachine/FungusMachineSystem.cs
  Content.Shared/SS220/CultYogg/MiGo/MiGoActions.cs
  Content.Shared/SS220/CultYogg/MiGo/MiGoComponent.cs
  Content.Shared/SS220/CultYogg/MiGo/SharedMiGoSystem.cs
  Resources/Prototypes/SS220/CultYogg/actions.yml
  Resources/Prototypes/SS220/CultYogg/fungus.yml
  Resources/Prototypes/SS220/Entities/Mobs/NPCs/CultYogg/migo.yml
Labels: Changes: C#, Changes: Prototypes

#61 StuckOnEquip errors fix
  Content.Shared/SS220/StuckOnEquip/SharedStuckOnEquipSystem.cs
  Content.Shared/SS220/StuckOnEquip/StuckOnEquipComponent.cs
Labels: Changes: C#
